<div class="root-background">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">Lernduell</a>

      <!-- Toggle-Button für mobile Ansicht -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigationslinks -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="/homepage" routerLinkActive="active">Startseite</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/game-homescreen" routerLinkActive="active">Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/flashcard-homescreen" routerLinkActive="active">Flashcard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </ul>
      </div>
    </div>
  </nav>
</div>


<router-outlet></router-outlet>