<div class="game-background">
  <div class="container text-center py-4">
    <h1 style="color: white;">Spiel</h1>

    <div class="row mt-4">
      <!-- Linke Spalte -->
      <div class="col-md-3">
        <div class="component-background-p1">
          <div class="p-3">
            <div class="card-stat">
              Noch 3/10 Karten
            </div>
          </div>
        </div>
      </div>

      <!-- Mittlere Spalte -->
      <div class="col-md-6">
        <div class="component-background">
          <div class="card">
            <div class="mb-3 p-5 frontside">
              <h2 class="mb-0">Vorderseite</h2>
              <p>(Beim Klicken Rückseite)</p>
            </div>
          </div>
          <div class="py-2 d-flex justify-content-between">
            <div class="button-container">
              <button class="btn">Wusste ich</button>
            </div>
            <div class="button-container">
              <button class="btn">Wusste ich nicht</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Rechte Spalte -->
      <div class="col-md-3">
        <app-scoreboard></app-scoreboard>
        <div class="py-3">
          <div class="button-container">
            <button class="btn">Karteikarten markieren</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
