<div class="container text-center mt-5">
    <!-- Titel -->
    <h1 class="mb-5">Hauptmenü</h1>

    <!-- Obere Kartenreihe -->
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-4">
            <div class="card bg-light text-center p-4" style="cursor: pointer;"  routerLink="/game-homescreen" routerLinkActive="active">
                <h2>Spielen</h2>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card bg-light text-center p-4">
                <h2>Karteikarten editieren</h2>
            </div>
        </div>
    </div>

    <!-- Scoreboard -->
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card bg-light text-center p-5">
                <h2>Scoreboard</h2>
                <p class="mt-3"></p>
            </div>
        </div>
    </div>
</div>